{{- /*gotype: github.com/nint8835/dieppe/pkg/server/proxies/go.proxyRespCtx*/ -}}
<html>
    <head>
        <meta name="go-import" content="{{ .ImportPath}} {{.VCSType}} {{ .UpstreamURL }}">
    </head>
</html>